* {
    box-sizing: border-box;
    width: 100%;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

.header {
    display: inline-block;
    padding: 10 px 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #ffffff;
    width: 100%;
    height: 15%;
    font-size: 100%;
}

.top-header {
    width: 100%;
    background-size: cover;
    background-position: center;
    background-color: grey;
}

.top-header > h1 {
    font-size: 4vw;
    color: white;
    padding-left: 18px;
    padding-top: 10px;
}

ul.nav {
    width: 20%;
    list-style: none;
    display: flex;
    padding: 10px;
}

ul.nav > li > a {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-bottom: 10px;
}

h3 {
    color: white;
    text-align: left;
    margin-left: 27%;
    font-size: 8vw;
    padding: 10px 10px 15px 10px;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: whitesmoke;
}

button {
    background-color: darkblue;
    color: whitesmoke;
    padding: 10px;
    border-radius: 10px;
    width: 100px;
    height: 50px;
    text-align: center;
    cursor: pointer;
    font-size: auto;
}

.stuart-momon {
    justify-content: center;
    height: fit-content;
    max-width: 215px;
    padding-top: 10px;
}

h2 {
    color: white;
    text-align: center;
    font-size: auto;
    padding: 5px;
    background-color: gray;
}

p {
    font-size: 15px;
    color: white;
    padding: 10px;
    text-align: center;
    margin-bottom: 10px;
}

ul {
    display: flex;
    flex-direction: row;
    text-align: center;
}

.content {
    width: 50%;
    position: relative;
    margin-left: 25%;
    background-color: darkslategrey;
}

.content > h2 {
    padding: 10px;
}

.first-project {
    display: flex;
    height: fit-content;
    max-width: 600px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    border-color: grey;
    cursor: pointer;
}

.row {
    display: flex;
    height: fit-content;
    max-width: 600px;
    padding: 0 10px;
    flex-wrap: wrap;
}

.project {
    height: auto;
    width: 49%;
    padding: 10px;
    cursor: pointer;
    max-width: 400px;
}

.contact {
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.icons {
    margin-top: 30px;
    padding-bottom: 30px;
}

.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    color: white;
}

h4 {
    color: white;
    text-align: center;
    font-size: 25px;
    padding: 5px;
    background-color: darkslategrey;
}

/* Media Queries: Tablet Landscape */
@media screen and (max-width: 1060px) {
    #primary { width:67%; }
    #secondary { width:30%; margin-left:3%;}  
}

/* Media Queries: Tabled Portrait */
@media screen and (max-width: 768px) {
    #primary { width:100%; }
    #secondary { width:100%; margin:0; border:none; }
    .project {
        display: block;
        width: 80%;
    }
}

img { max-width: 100%; height: auto; }